<!doctype html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>Tryouts! </title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/869334941337546782/1036327824862220378/Method_Draw_Image.png">
</head>
<body>
    <div class="bg-blue-200 min-h-screen flex items-center" >
    <div class="w-full">
        <h2 class="text-center text-blue-400 font-bold text-2xl uppercase mb-10" id="custom">
            {{number}}<br>  
            {{" Razebi The Text You Want To Be Displayed"}} 
        </h2>
        <div class="bg-white p-10 rounded-lg shadow md:w-3/4 mx-auto lg:w-1/2">
            <form action="">
                <div class="mb-5">
                <label for="content" class="block mb-2 font-bold text-gray-600">Desired Text</label>
                <input type="text" id="content" name="content" placeholder="Lorem ipsum dolor sit amet consectetur." 
                        class="border border-gray-300 shadow p-3 w-full rounded mb-">
                </div>          

                <button class="block w-full bg-blue-500 text-white font-bold p-4 rounded-lg" onClick="getImage()">Submit</button>            
            </form>
        </div>
    </div>
    </div>
<script>
    var myHeaders = new Headers();
    myHeaders.append("apikey", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4cnp4Z3Nicmx6cWZobWlpeGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Njk0NjcyNzcsImV4cCI6MTk4NTA0MzI3N30.4dShzwcyQ7YgxXsHR-VlwzwpLGKBNGvrqrjuVUBrhTQ");
    myHeaders.append("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4cnp4Z3Nicmx6cWZobWlpeGlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Njk0NjcyNzcsImV4cCI6MTk4NTA0MzI3N30.4dShzwcyQ7YgxXsHR-VlwzwpLGKBNGvrqrjuVUBrhTQ");

    var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
    };

    fetch("https://exrzxgsbrlzqfhmiixip.supabase.co/rest/v1/image?select=*", requestOptions)
        .then(response => response.text())
        .then(result => {
            console.log(result);
            
        })
        .catch(error => console.log('error', error));

    document.getElementById("custom").innerHTML = "waw";
</script>
</body>
</html>