<!doctype html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}
    {% endblock %}
    <title>Login </title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/869334941337546782/1036327824862220378/Method_Draw_Image.png">
</head>

<body {{stimulus_controller("hello")}} class="bg-blue-200 font-sans text-gray-700">

        <button {{stimulus_action("hello","test")}} class="m-4 px-4 py-1 bg-orange-400" > test </button>
        <div id="div1" >
            <p class="bg-red-900 text-white font-bold my-2   " > This is new </p>
        </div>
</body>
</html>